label {
    display: block;
    margin-bottom: 1em;
}

h1, h2, h3 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    text-align: left;
}

td {
    vertical-align: bottom;
}

button, [type=submit] {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

[disabled] {
    cursor: default;
}

input, button {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: .5em;
    line-height: 1;
}

label {
    font-size: .8em;
}

.sx-overlay {
    position: fixed;
    background: rgba(255, 255, 255, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.sx-overlay-content {
    background: white;
    box-shadow: 1px 4px 10px gray;
    padding: 2em;
}

.sx-flex-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sx-flex-list li {
    margin: 0 1em 1em 0;
}

.sx-error {
    color: red;
}

.sx-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sx-visible.sx-visible {
    visibility: visible;
    opacity: 1;
}

.sx-spinner {
    display: inline-block;
    border: 5px solid lightgray;
    border-top: 5px solid gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: .5em;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
