h1, h2, h3 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    text-align: left;
}

td {
    vertical-align: bottom;
}

button, [type=submit] {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.sx-buttons {
    display: flex;
    margin: 0 -.5em .5em 0;
}

.sx-buttons > * {
    margin-right: .5em;
    flex: 0 1 auto;
    width: auto;
    flex-wrap: wrap;
}

[disabled] {
    cursor: default;
}

[draggable] {
    cursor: move;
}

input, button, select {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: .5em;
    line-height: 1;
}

input[type=radio], input[type=checkbox] {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 1em;
    font-size: .8em;
    cursor: pointer;
}

.sx-input {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
}

.sx-input label {
    margin: 0 1em 0 .5em;
    font-size: 1em;
    line-height: 1;
}

[title] {
    text-decoration: underline solid #738995;
    cursor: help;
}

.sx-overlay {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    z-index: 100;
    overflow: auto;
}

.sx-overlay-content {
    background: white;
    box-shadow: 1px 4px 10px gray;
    padding: 2em;
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    box-sizing: border-box;
}

.sx-overlay-close {
    color: #738995;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
}

.sx-text {
    max-width: 17cm;
    text-align: justify;
    hyphens: auto;
}

.sx-flex-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sx-flex-list li {
    display: inline;
    margin: 0 1em 1em 0;
}

.sx-error {
    color: red;
}

.sx-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sx-visible.sx-visible {
    visibility: visible;
    opacity: 1;
}

.sx-card-list img {
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgray;
}

.sx-next-wrapper {
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
}

.sx-timer {
    position: absolute;
    right: 1em;
    opacity: .5;
}

.sx-spinner {
    display: inline-block;
    border: 5px solid lightgray;
    border-top: 5px solid gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: .5em;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
